* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #4A4A4A;
    font-size: 1.2rem;
    background: #F3F7FA;
}

main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
