mixin ticket
    li.ticket
        div.ticket__content
            ul.ticket__list
                li.ticket__item
                    div.ticket__data(data-route)
                        p mow - hkt
                        p 10:45 - 08:00
                    div.ticket__data(data-lenght)
                        p В пути
                        p 21ч 15м
                    div.ticket__data(data-stops)
                        p 1 пересадка
                        p hkg
                li.ticket__item
                    div.ticket__data(data-route)
                        p mow - hkt
                        p 10:45 - 08:00
                    div.ticket__data(data-lenght)
                        p В пути
                        p 21ч 15м
                    div.ticket__data(data-stops)
                        p 1 пересадка
                        p hkg
