include ../../blocks/time-filter/time-filter
include ../../blocks/tickets/tickets
include ../../blocks/button/button
include ../../blocks/header/header
include ../../blocks/search/search
include ../../blocks/spinner/spinner


mixin search-page
    div.search-page
        +header
        div.search-page__wrapper
            aside.search-page__filter
                +search
            main.search-page__content
                +time-filter
                +tickets
                +spinner

