@keyframes ldio-kku9r3v2hlg {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.spinner {
  align-self: center;
}
.ldio-kku9r3v2hlg div {
  left: 109.97999999999999px;
  top: 56.16px;
  position: absolute;
  animation: ldio-kku9r3v2hlg linear 2.2222222222222223s infinite;
  background: #2196f3;
  width: 14.04px;
  height: 28.08px;
  border-radius: 7.02px / 14.04px;
  transform-origin: 7.02px 60.839999999999996px;
}.ldio-kku9r3v2hlg div:nth-child(1) {
   transform: rotate(0deg);
   animation-delay: -2.0370370370370368s;
   background: #2196f3;
 }.ldio-kku9r3v2hlg div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1.8518518518518516s;
    background: #2196f3;
  }.ldio-kku9r3v2hlg div:nth-child(3) {
     transform: rotate(60deg);
     animation-delay: -1.6666666666666665s;
     background: #2196f3;
   }.ldio-kku9r3v2hlg div:nth-child(4) {
      transform: rotate(90deg);
      animation-delay: -1.4814814814814814s;
      background: #2196f3;
    }.ldio-kku9r3v2hlg div:nth-child(5) {
       transform: rotate(120deg);
       animation-delay: -1.2962962962962963s;
       background: #2196f3;
     }.ldio-kku9r3v2hlg div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -1.111111111111111s;
        background: #2196f3;
      }.ldio-kku9r3v2hlg div:nth-child(7) {
         transform: rotate(180deg);
         animation-delay: -0.9259259259259258s;
         background: #2196f3;
       }.ldio-kku9r3v2hlg div:nth-child(8) {
          transform: rotate(210deg);
          animation-delay: -0.7407407407407407s;
          background: #2196f3;
        }.ldio-kku9r3v2hlg div:nth-child(9) {
           transform: rotate(240deg);
           animation-delay: -0.5555555555555555s;
           background: #2196f3;
         }.ldio-kku9r3v2hlg div:nth-child(10) {
            transform: rotate(270deg);
            animation-delay: -0.37037037037037035s;
            background: #2196f3;
          }.ldio-kku9r3v2hlg div:nth-child(11) {
             transform: rotate(300deg);
             animation-delay: -0.18518518518518517s;
             background: #2196f3;
           }.ldio-kku9r3v2hlg div:nth-child(12) {
              transform: rotate(330deg);
              animation-delay: 0s;
              background: #2196f3;
            }
.loadingio-spinner-spinner-fhtqykvzepq {
  width: 234px;
  height: 234px;
  display: inline-block;
  overflow: hidden;
  background: none;
}
.ldio-kku9r3v2hlg {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.ldio-kku9r3v2hlg div { box-sizing: content-box; }
