mixin spinner
    div(class="loadingio-spinner-spinner-fhtqykvzepq spinner")
        div(class="ldio-kku9r3v2hlg")
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
            div
